WebUI/Web References/Orchestrator.Mapping/Position.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://orchestrator.p1tp.co.uk/mapping" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://orchestrator.p1tp.co.uk/mapping" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://orchestrator.p1tp.co.uk/mapping">
      <s:element name="GetPositions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="trailerRef" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPositionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPositionsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeviceStatuses">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeviceStatusesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDeviceStatusesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPositionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetPositions" />
  </wsdl:message>
  <wsdl:message name="GetPositionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetPositionsResponse" />
  </wsdl:message>
  <wsdl:message name="GetDeviceStatusesSoapIn">
    <wsdl:part name="parameters" element="tns:GetDeviceStatuses" />
  </wsdl:message>
  <wsdl:message name="GetDeviceStatusesSoapOut">
    <wsdl:part name="parameters" element="tns:GetDeviceStatusesResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="GetPositions">
      <wsdl:input message="tns:GetPositionsSoapIn" />
      <wsdl:output message="tns:GetPositionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDeviceStatuses">
      <wsdl:input message="tns:GetDeviceStatusesSoapIn" />
      <wsdl:output message="tns:GetDeviceStatusesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPositions">
      <soap:operation soapAction="http://orchestrator.p1tp.co.uk/mapping/GetPositions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeviceStatuses">
      <soap:operation soapAction="http://orchestrator.p1tp.co.uk/mapping/GetDeviceStatuses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPositions">
      <soap12:operation soapAction="http://orchestrator.p1tp.co.uk/mapping/GetPositions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeviceStatuses">
      <soap12:operation soapAction="http://orchestrator.p1tp.co.uk/mapping/GetDeviceStatuses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://localhost:1854/Position.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://localhost:1854/Position.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>