WebUI/Service References/ProfilesService/Profiles4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://blue.orchestrator.co.uk/Profiles.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://blue.orchestrator.co.uk/Profiles.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OrchestratorServices.DTO" />
  <xs:import schemaLocation="http://blue.orchestrator.co.uk/Profiles.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetLocationProfiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="customerID" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationProfilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/OrchestratorServices.DTO" minOccurs="0" name="GetLocationProfilesResult" nillable="true" type="q2:ArrayOfTrackingProfile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="profileID" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLocationProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/OrchestratorServices.DTO" minOccurs="0" name="GetLocationProfileResult" nillable="true" type="q4:TrackingProfile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManageLocationProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/OrchestratorServices.DTO" minOccurs="0" name="trackingProfile" nillable="true" type="q5:TrackingProfile" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="CustomerID" type="q6:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManageLocationProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ManageLocationProfileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignVehiclesToProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="customerID" type="q7:guid" />
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="profileID" type="q8:guid" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="gpsUnitIDs" nillable="true" type="q9:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignVehiclesToProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AssignVehiclesToProfileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerformanceProfiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="customerID" type="q10:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerformanceProfilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/OrchestratorServices.DTO" minOccurs="0" name="GetPerformanceProfilesResult" nillable="true" type="q11:ArrayOfPerformanceProfile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerformanceProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="profileID" type="q12:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerformanceProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/OrchestratorServices.DTO" minOccurs="0" name="GetPerformanceProfileResult" nillable="true" type="q13:PerformanceProfile" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManagePerformanceProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/OrchestratorServices.DTO" minOccurs="0" name="profile" nillable="true" type="q14:PerformanceProfile" />
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="customerID" type="q15:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ManagePerformanceProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ManagePerformanceProfileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignVehiclesToPerformanceProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="customerID" type="q16:guid" />
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="profileID" type="q17:guid" />
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="gpsUnitIDs" nillable="true" type="q18:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignVehiclesToPerformanceProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AssignVehiclesToPerformanceProfileResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>